---
layout: default
---

{% assign header_pretext = site.data.sitetext.header.pretext %}
{% assign header_title = site.data.sitetext.header.title %}
{% assign header_subtext = site.data.sitetext.header.subtext %}
{% assign header_button = site.data.sitetext.header.button %}
{% assign header_button_link = site.data.sitetext.header.buttonlink %}
{% assign social_links = site.data.sitetext.header.social_links %}

<div class="home">
    {% include masthead.html
        pretext=header_pretext
        title=header_title
        subtext=header_subtext
        button_text=header_button
        button_link=header_button_link
        social_links=social_links
    %}
    <div class="page-section" id="lovespresents" style="background-color: #FF6161;color:white;">
        <div class="container">
            <div class="row">
                <div class="col col-12">
                    <h2 class="section-heading">LovesPresents.com</h2>
                </div>
                <div class="col col-md-6">
                    <p>Keep Love Around with the consumer products brand sure to keep a smile on your face.</p>
                </div>
                <div class="col col-md-6">
                    two presents<br>loves presents.com outbound
                </div>
                <div class="col col-12">
                    <p class="text-small">LovesPresents.com is an apparel and home decor e-commerce shopy built on the Shopify platform. Check it out!.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="page-section" id="highground" style="background-color: #FF6161;color:white;">
        <div class="container">
            <div class="row">
                <div class="col col-12">
                    <h2 class="section-heading">LovesPresents.com</h2>
                </div>
                <div class="col col-md-6">
                    <p>Keep Love Around with the consumer products brand sure to keep a smile on your face.</p>
                </div>
                <div class="col col-md-6">
                    two presents<br>loves presents.com outbound
                </div>
                <div class="col col-12">
                    <p class="text-small">LovesPresents.com is an apparel and home decor e-commerce shopy built on the Shopify platform. Check it out!.</p>
                </div>
            </div>
        </div>
    </div>
    
    {% comment %}{% include calls_to_action.html %}{% endcomment %}
    {% comment %}{% include service_category_cards.html %}{% endcomment %}
    {% comment %}{% include timeline.html %}{% endcomment %}
    {% comment %}{% include team.html %}{% endcomment %}
    {% comment %}{% include clients.html %}{% endcomment %}
    {% include contact.html %}
</div>