---
layout: default
---

{% assign header_pretext = site.data.sitetext.header.pretext %}
{% assign header_title = site.data.sitetext.header.title %}
{% assign header_subtext = site.data.sitetext.header.subtext %}
{% assign header_button = site.data.sitetext.header.button %}
{% assign header_button_link = site.data.sitetext.header.buttonlink %}
{% assign social_links = site.data.sitetext.header.social_links %}

<div class="home">
    {% include masthead.html
        pretext=header_pretext
        title=header_title
        subtext=header_subtext
        button_text=header_button
        button_link=header_button_link
        social_links=social_links
    %}
    <div class="page-section" id="lovespresents" style="background-color: #073563;color:#fff;">
        <div class="container">
            <div class="row">
                <div class="col col-12">
                    <h2 class="section-heading">LovesPresents.com</h2>
                </div>
                <div class="col col-md-6">
                    <p>Keep Love Around with the consumer products brand sure to keep a smile on your face.</p>
                </div>
                <div class="col col-md-6">
                    two presents<br>loves presents.com outbound
                </div>
                <div class="col col-12">
                    <p class="text-small">LovesPresents.com is an apparel and home decor e-commerce shopy built on the Shopify platform. Check it out!</p>
                </div>
            </div>
        </div>
    </div>

    <div class="page-section" id="highground" style="background-color: #66cc99;color:#333;">
        <div class="container">
            <div class="row">
                <div class="col col-12">
                    <h2 class="section-heading">HighGround.tech</h2>
                </div>
                <div class="col col-md-6">
                    <div>
                        <span>Networking</span>
                        <span>Web software</span><br>
                        <span>Brand development</span><br>
                        <span>Digital business services</span><br>
                    </div>
                    <p style="font-size:1.4em;text-align:center;">ɪᴛ'ꜱ ᴛʜᴇ ᴍᴇᴛᴀ</p>
                </div>
                <div class="col col-md-6">
                    heph<br>see our services outbound
                </div>
                <div class="col col-12">
                    <p class="text-small">High Ground Tech Co. is a digital agency specializing in productions for small business and early entrepreneurs with the message of the social empowerment via technology.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="page-section" id="iamalexbrady" style="background-color: #222;color:#ddd;">
        <div class="container">
            <div class="row">
                <div class="col col-12">
                    <h2 class="section-heading">@iamalexbrady</h2>
                </div>
                <div class="col col-md-6">
                    <p>alexbrady: A Call for Spiritual Awakening</p>
                    <p>alexbrady brand provides high-quality spirtual content centered around the teachings of <i>A Course in Miracles.</i></p>
                    <div class="mb-4">
                        <span>Videos</span>
                        <br>
                        <span>Articles</span>
                        <br>
                        <span>Web tools</span>
                        <br>
                        <span>Live chat</span>
                    </div>
                    
                </div>
                <div class="col col-md-6">
                    eyes<br>alexbrady.org
                </div>
                <div class="col col-12">
                    <p class="text-small">alexbrady is a brand and initiative offering interactive tools and networking for the purpose of awakening to spiritual Identity.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="page-section" id="open-source" style="background-color: #fff;color:#000;">
        <div class="container">
            <div class="row">
                <div class="col col-12">
                    <h2 class="section-heading">Open Source</h2>
                </div>
                <div class="col col-md-6">
                    <p>Community and open-source initiatives Alexa is involved with:</p>
                    <p><a href="https://github.com/opendenton/denton_data">Open Denton Data:</a> ETL and API for Open Denton &mdash; the city of Denton, TX open data initiative</p>
                    <p><a href="https://github.com/PopularDemand/webdev101">Women Who Code DFW:</a> Volunteer coding coordinator and teacher</p>
                    <p><a href="https://github.com/iamalexbrady">alexbrady open-source:</a> Open-source materials provided in support of alexbrady.</p>
                </div>
                <div class="col col-md-6">
                    pic form dan<br>view resume link  contact button
                </div>
                <div class="col col-12">
                    <p class="text-small">Alexa spends her non-tech time playing in community musical ensembles and fishing.</p>
                </div>
            </div>
        </div>
    </div>
    
    {% comment %}{% include calls_to_action.html %}{% endcomment %}
    {% comment %}{% include service_category_cards.html %}{% endcomment %}
    {% comment %}{% include timeline.html %}{% endcomment %}
    {% comment %}{% include team.html %}{% endcomment %}
    {% comment %}{% include clients.html %}{% endcomment %}
    {%comment%} {% include contact.html %}{% endcomment %}
</div>